<!-- if it's a signed in user already -->
<% if current_user %>
	<h3>Welcome: <%= current_user.email %></h3>
<% else %>
<!-- if it is not a signed in user it is going to display the Jumbotron -->
<div class="jumbotron">
	<h2>Welcome to the Photo Management App!</h2>
	<p class="lead">
		You'll love managing your Photos with our application. Sign up!
	</p>
</div>

<div class="row">
	<div class="plans clearfix">
		
	</div>
</div>
<% end %>